[DEFAULT]
ConnectionType=initiator
SocketUseSSL=Y
SSLProtocols=TLSv1.2
SocketConnectPort=4198
SocketConnectHost=fix.prime.coinbase.com
SSLCAFile=YOUR_SSL_CA_FILE_PATH
SSLVerifyCertificates=Y
SSLServerName=fix.prime.coinbase.com

StartTime=00:00:00
EndTime=00:00:00
HeartBtInt=30
ReconnectInterval=10
UseDataDictionary=N
ResetOnLogon=Y
ValidateIncomingMessage=N
ValidateUserDefinedFields=N

[SESSION]
BeginString=FIXT.1.1
DefaultApplVerID=9
SenderCompID=YOUR_SENDER_COMP_ID
TargetCompID=COIN
FileStorePath=./Sessions/